<div class="container">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-8">
            
            <div class="card">
                <!-- <img class="card-img-top" data-src="assets/images/AuditManagement.jpg" alt="Card image cap"> -->
                <div class="card-body">
                    <h4 class="card-title">Audit Management System</h4>
                    <p class="card-text">Audit management is responsible for ensuring that board-approved audit directives are implemented. Audit management helps simplify and well-organise the workflow and collaboration process of compiling audits. Most audit teams heavily rely on email and shared drive for sharing information with each other.</p>
                </div>
                <div class="card-body">
                    <a href="/AuditRequest" class="card-link">Click Here to Request Audit Status</a>
                </div>
            </div>
            <!--
                <h2>Welcome to audit management system</h2>
                <a routerLink='/AuditRequest'>click here to proceed</a>
            -->
        </div>
        <div class="col-1">

        </div>
    </div>
</div>